header.site-header {
    background: $branco;
    box-shadow: 0 0 5px rgba($cinza, .5);
    margin-bottom: 50px;
    padding: 20px;
    .logo {
        text-align: center;
        img {
            height: 100px;
            max-width: 100%;
        }
    }
}
